$unit: 10px;
//Color de Texto visitar aqui bastante jajaja
$colorBase: ('primary': #000 #fff rgb(217, 255, 0), 'secondary': #fff #000 #fff);
$palleta: 'primary' darkblue, 'success' darkgreen, 'warning' orange, 'danger' red, 'info' gray, 'dark' #000, 'light' #fff;
$fontSettings: ('small': normal normal 1.5, 'medium': 400 condensed 2.5, 'large': bold normal 4,'big': bolder expanded 4.5);


