#juegos{
    grid-area: juegos;
    display: grid;
    width: 100%;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    padding: 0.5rem;   
  
    justify-items: center;

    figure{
        overflow: hidden;

        width: 100%;

        border-radius: 8px;
        box-shadow: 3px 4px 5px 2px rgba(48, 48, 48, 0.877);

        transition: all 300ms ease-in-out;

        &:hover{
            filter: brightness(0.6);
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
}